header {
    background: linear-gradient(90deg,rgba(57,140,198,1), rgb(57, 198, 111));
    color: #ffffff;
    text-align: center;
    padding: 15px ;
}

#redes{
    text-align: end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

nav li {
    display: inline;
    margin: 20px;
    text-decoration: none;
}

nav li:hover{
    text-decoration: underline;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

#Carousel{
    margin: 0px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    margin-inline-start: -300px;
    margin-inline-end: -300px;
    margin-block-end: -20px;
}

.carousel-caption h5{
    display: flex;
    color: white;
    font-size: 80px;
    margin-block-start: 500px;
    margin-inline-start: 500px;
    margin-inline-end: 500px;
}

.carousel-caption p{
    color: white;
    font-size: 20px;
    margin-inline-start: 150px;
    margin-right: 150px;
    margin-block-end: 150px;
}

#carouseleventos img{
    block-size: 400px;
    border-radius: 10%;
}

#cotiza{
    margin-block-start: 150px;
    text-align: center;
}

#cotiza p{
    font-size: 20px;
}

#paquete_base_carousel{
    margin-block-start:100px;
    justify-content: flex-start;
}

#paquete_base_carousel img{
    border-radius: 10%;
}

#paquete_base{
    margin-block-start: 30px;
    text-align: center;
}

#lista_paquete{
    text-align: start;
    max-inline-size: 400px;
}

#titulo_servicios_adicionales{
    margin-block-start: 20px;
    text-align: center;
}

#titulo_menus{
    text-align: center;
}

.accordion{
    inline-size: 500px;
    margin-block-start: 5px;
}

#menus img{
    justify-content: start;
    border-radius: 10px;
}


#titulo{
    margin-left: 480px;
    width: 1000px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

#formulario{
    border: 5px solid;
    border-radius: 10px;
    margin-left: 725px;
    margin-right: 650px;
}

#formulario div{
    margin: 10px;
}

#formulario button{
    margin-left: 150px;
}

#personalizacion_eventos{
    margin-bottom: 100px;
}

#boton_contacto{
    border-radius: 10px;
    font-size: 20px;
    border: 0px;
    background-color: #258d19;
    color: white;
    transition: background-color 0.3s ease;
}

#boton_contacto:hover{
    background-color: #005200;
}

footer {
    background: linear-gradient(90deg,rgba(57,140,198,1), rgb(57, 198, 111));
    color: #000000;
    text-align: center;
    padding: 10px 0;
}
