/* Estilos para el header */
header {
  background: linear-gradient(90deg,rgba(57,140,198,1), rgb(57, 198, 111));
  color: #ffffff;
  text-align: center;
  padding: 15px ;
}




nav ul li {
  display: inline;
  margin: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

/* Estilos para el contenedor */
.container1 {
  margin-top: 50px;
}

/* Estilos para los métodos de pago */
.payment-methods {
  margin-top: 15px;
  text-align: center;
}




#payment-tab-card.active-tab {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

}





#payment-tab-card.active-tab input[type="submit"] {
  background-color: #088395;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
}

#payment-tab-card.active-tab input[type="submit"]:hover {
  background-color: #1cceea;
}


.form-submit:hover {
  background-color: #71a4f0;
}



.imagen-div {
  width: 900px;
  height: 700px;
  float: left;
  margin-left: 100px; 
  margin-right: 1px;
}

#payment-tab-card.active-tab form {
  
  width: 700px; /* Ajusta el ancho según tus necesidades */
  margin-left: 0px;
  margin-right: auto;
}




/* Estilos para los campos que deben estar en línea */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
textarea,
input[type="date"] {
  display: inline-block; /* o display: inline; */
  margin: 5px;
  width: 300px; /* Ajusta el ancho según tus necesidades */
  border: 2px solid #f6f6f6;
  background-color: #f6f6f6;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

/* Ajustar el ancho según tus necesidades */

/* Estilos específicos para el campo de fecha */
input[type="date"] {
  width: 300px;
}

/* Estilos para el botón de envío */
input[type="submit"] {
  background-color: #088395;
  border: none;
  color: #000000;
  padding: 10px 20px;
  font-weight: bold;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

/* Efecto hover para el botón de envío */
input[type="submit"]:hover {
  background-color: #1cceea;
}