{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/cotizacion.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <title>Mi Página Web</title>
  <link rel="Icon" href="{% static 'img/LogoCasaBerrio (1).png' %}">
  <link rel="stylesheet" href="/static/js/cotizacion.js">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <header>
        <div class="container"> 
            {% if messages %}
            {% for message in messages %}
                <div class="alert {% if messages.tags == 'alert-danger'%}alert-danger{%else%}alert-success{%endif%}">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                  {{ message }}
                </div>
            {% endfor %}
          {% endif %}
           <div class="row">
                <div class="col-lg-1 justify-content-lg-start"><img src="/static/img/casaberrio.png" alt="casaberrio" height="100px"></div>
                <div class="col-lg-10 d-flex justify-content-center p-4">
                    <nav>
                        <ul>
                            <li><a href="home2.html">Inicio</a></li>
                            <li><a href="nosotros.html">Nosotros</a></li>
                            <li><a href="cotizacion.html">Cotizaciones</a></li>
                            <li><a href="alquiler.html">Alquiler</a></li>
                            <li><a href="pqrs.html">PQRS</a></li>
                            <li><a href="home.html">Cerrar sesion</a></li>
                        </ul>
                    </nav>        
                </div>
           </div> 
        </div>
    </header>

 <main>
     <section id="Carousel">
         <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel" data-bs-ride="false">
             <div class="carousel-indicators">
                 <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                 <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
                 <button type="button" data-bs-target="#carouselInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
             </div>
             <div class="carousel-inner ">
               <div class="carousel-item active" >
                 <img src="/static/img/Santa Isabel1.jpg" class="d-block w-100" data-bs-interval="5000" alt="...">
                 <div class="carousel-caption d-none d-md-block">
                     <h5>COTIZACIÓN DE EVENTOS</h5>
                     <p>Bienvenido a las Cotizaciones en Línea. Nos emociona ayudarte a planificar tu evento perfecto.</p>
                 </div>
               </div>
               <div class="carousel-item" data-bs-interval="5000">
                 <img src="/static/img/Comuneros1.jpg" class="d-block w-100" alt="...">
                 <div class="carousel-caption d-none d-md-block">
                     <h5>COTIZACIÓN DE EVENTOS</h5>
                     <p>Bienvenido a las Cotizaciones en Línea. Nos emociona ayudarte a planificar tu evento perfecto.</p>
                 </div>
               </div>    
               <div class="carousel-item" data-bs-interval="5000">
                 <img src="/static/img/Teusaquillo1.jpg" class="d-block w-100" alt="...">
                 <div class="carousel-caption d-none d-md-block">
                     <h5>COTIZACIÓN DE EVENTOS</h5>
                     <p>Bienvenido a las Cotizaciones en Línea. Nos emociona ayudarte a planificar tu evento perfecto.</p>
                 </div>
               </div>
             </div>
             <button class="carousel-control-prev" type="button" data-bs-target="#carouselInterval" data-bs-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Previous</span>
             </button>
             <button class="carousel-control-next" type="button" data-bs-target="#carouselInterval" data-bs-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="visually-hidden">Next</span>
             </button>
           </div>
     </section>
     <section>
        <div class="container">
            <div class="row">
                <div id="paquete_base_carousel" class="carousel slide col">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="7" aria-label="Slide 8"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="8" aria-label="Slide 9"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="9" aria-label="Slide 10"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="10" aria-label="Slide 11"></button>
                      <button type="button" data-bs-target="#paquete_base_carousel" data-bs-slide-to="11" aria-label="Slide 12"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/static/img/15años.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/accesorios.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/altavoces.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/bautizos.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/botiquin.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/casaberrio.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/cumpleaños.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/Comuneros.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/despedidas.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/disfrases.jpeg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/grados.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/static/img/despedidas.png" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#paquete_base_carousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#paquete_base_carousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                <div id="paquete_base" class="col">
                    <div>
                        <h1>DESCUBRE LA MAGIA DE NUESTRO PAQUETE BASE</h1>
                        <p>¡Nos emociona ofrecerte un paquete que hará de tu evento una experiencia inolvidable! Con nuestro paquete base, disfrutarás de:</p>
                    </div>
                    <a href="cotizaciones">
                      <button>¡Cotiza ahora mismo!</button>
                    </a>
                    <ul id="lista_paquete">
                        <li>Salon por maximo 7 horas</li>
                        <li>Pastel</li>
                        <li>Sonido Dj - Animacion</li>
                        <li>Sillas</li>
                        <li>Centros de Mesa</li>
                        <li>Fotografia Digital</li>
                        <li>Mezcladores, hielos y gaseosas</li>
                        <li>Coctel</li>
                        <li>Servicio de meseros por 7 horas </li>
                        <li>Champañas</li>
                    </ul>
                </div>
            </div>
        </div>
     </section>
     <section>
        <h1 id="titulo_servicios_adicionales">DA UN VISTAZO A NUESTROS SERVICIOS ADICIONALES</h1>
        <div class="row">
            <div class="card col m-5 p-0">
                <img src="/static/img/escalera con flores naturales.jpeg " class="card-img-top" alt="..." height="380">
              
                <div class="card-body">
                  <h5 class="card-title">Decoración Escalera en Flores Naturales 🌸</h5>
                  <p class="card-text">Añade elegancia a tu evento con nuestra decoración de escalera en flores naturales. Cada pétalo y color cuidadosamente seleccionado crea una entrada espectacular que maravillará a tus invitados desde su llegada.</p>
                </div>
            </div>      
            <div class="card col m-5 p-0">
                <img src="/static/img/hora loca.jpg" class="card-img-top" alt="..." height="380">
              
                <div class="card-body">
                  <h5 class="card-title">Kit Hora de Carnaval con Accesorios 🎭</h5>
                  <p class="card-text">Transforma tu celebración en una fiesta vibrante con nuestro Kit Hora de Carnaval. Incluye accesorios coloridos y máscaras encantadoras para sumergir a tus invitados en la alegría y diversión.</p>
                </div>
            </div>   
            <div class="card col m-5 p-0">
                <img src="/static/img/osos polares.jpeg" class="card-img-top" alt="..." height="380">
              
                <div class="card-body">
                  <h5 class="card-title">Fiesta Temática 🎉</h5>
                  <p class="card-text">Personaliza tu evento con una fiesta temática que refleje tus gustos. Desde noches de casino hasta celebraciones vintage, nuestro equipo hará realidad la temática de tus sueños.</p>
                </div>
            </div>  
        </div> 
        <div class="row">
            <div class="card col m-5 p-0">
                <img src="/static/img/camarografo.jpg" class="card-img-top" alt="..." height="380">
              
                <div class="card-body">
                  <h5 class="card-title">Otros - Filmación 🎥</h5>
                  <p class="card-text">Captura cada momento especial con nuestro servicio de filmación. Desde momentos emotivos hasta diversión en la pista de baile, te ofrecemos recuerdos en movimiento para revivir tu evento.</p>
                </div>
            </div>      
            <div class="card col m-5 p-0">
                <img src="/static/img/foto registro enmarcado.jpg" class="card-img-top" alt="..." height="380">
              
                <div class="card-body">
                  <h5 class="card-title">Foto Registro Enmarcado 40x50 cms 📷</h5>
                  <p class="card-text">Inmortaliza la magia de tu evento con nuestro servicio de foto registro enmarcado. Cada sonrisa y gesto capturados en una fotografía de alta calidad se convertirán en una joya visual atesorada para siempre.</p>
                </div>
            </div>   
            <div class="card col m-5 p-0">
                <img src="/static/img/libro de firmas.jpeg" class="card-img-top" alt="..." height="380">
              
                <div class="card-body">
                  <h5 class="card-title">Libro de Firmas 📖</h5>
                  <p class="card-text">Deja que tus invitados compartan buenos deseos en nuestro hermoso libro de firmas. Un recuerdo tangible de quienes compartieron contigo este día especial.</p>
                </div>
            </div>  
            <div class="row">
                <div class="card col m-5 p-0">
                    <img src="/static/img/videos retospectivos.jpg" class="card-img-top" alt="..." height="380">
                  
                    <div class="card-body">
                      <h5 class="card-title">Videos Retrospectivos 📼</h5>
                      <p class="card-text">Revive momentos especiales con nuestro servicio de videos retrospectivos. Una recopilación emotiva que te llevará en un viaje a través de recuerdos desde los primeros instantes hasta los momentos más destacados.</p>
                    </div>
                </div>      
                <div class="card col m-5 p-0">
                    <img src="/static/img/video beam.jpg" class="card-img-top" alt="..." height="380">
                  
                    <div class="card-body">
                      <h5 class="card-title">Video Beam - Telón 📽️</h5>
                      <p class="card-text">Añade un toque cinematográfico a tu evento con nuestro servicio de video beam y telón. Proyecta imágenes, videos y presentaciones para complementar la experiencia visual de tu celebración.</p>
                    </div>
                </div>   
                <div class="card col m-5 p-0">
                    <img src="/static/img/whisky.jpg" class="card-img-top" alt="..." height="380">
                  
                    <div class="card-body">
                      <h5 class="card-title">Whisky 🥃</h5>
                      <p class="card-text">Completa la experiencia con nuestro servicio de whisky premium. Ofrecemos una selección exclusiva que deleitará los paladares más exigentes, añadiendo sofisticación a tu celebración.</p>
                    </div>
                </div>  
        </div> 
     </section>
     <section>
        <div id="titulo_menus">
          <h1>Explora la Experiencia Única de Nuestro Menú Principal</h1>
          <p>Nos entusiasma presentarte nuestro menú principal, diseñado para convertir tu evento en una experiencia culinaria inolvidable. Sumérgete en la deliciosa variedad que ofrecemos:</p>
        </div>






        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Menu #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <ul>
                        <li><p>Pollo relleno salsa de bechamel</p></li>
                        <li><p>Brochetas de Res</p></li>
                        <li><p>Arroz Malteado</p></li>
                        <li><p>Ensalada Tropical</p></li>
                        <li><p>Postre Bavaroise curúba</p></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Menu #2
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="accordion-body">
                            <ul>
                              <li><p>Suprema de pollo con salsa de ajonjoli</p></li>
                              <li><p>Fricasse de Res y verdura</p></li>
                              <li><p>Arroz Malteado</p></li>
                              <li><p>Ensalada Romana</p></li>
                              <li><p>Postre Mousse de Mora</p></li>
                            </ul>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Menu #3
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="accordion-body">
                            <ul>
                              <li><p>Pechuga a la plancha salsa Aurora</p></li>
                              <li><p>Medallones de Cerdo en salsa de ciruelas</p></li>
                              <li><p>Arroz Nueces</p></li>
                              <li><p>Ensalada Rus</p></li>
                              <li><p>Postre Mousse de fresa</p></li>
                            </ul>
                          </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                         Menu #4
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="accordion-body">
                            <ul>
                              <li><p>Lomo de Cerdo al vino tinto</p></li>
                              <li><p>Pollo en salsa de champiñones (contramuslos)</p></li>
                              <li><p>Arroz marinero</p></li>
                              <li><p>Ensalada de Vegetales mixtos</p></li>
                              <li><p>Postre esponja guanábana</p></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Menu #5
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="accordion-body">
                            <ul>
                              <li><p>Chuleta de cerdo al ajillo</p></li>
                              <li><p>Pescado apanado con salsa tártara</p></li>
                              <li><p>Arroz Thai</p></li>
                              <li><p>Ensalada Vinagreta</p></li>
                              <li><p>Pie de piña</p></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Menu #6
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="accordion-body">
                            <ul>
                              <li><p>Pollo al Curry</p></li>
                              <li><p>Muchacho relleno con mostaza miel</p></li>
                              <li><p>Papá chatear</p></li>
                              <li><p>Ensalada César</p></li>
                              <li><p>Postre Mouss maracuya</p></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Menu Infantil
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <div class="accordion-body">
                            <ul>
                              <li><p>Colombinas de pollo, perro caliente o hamburguesa</p></li>
                              <li><p>Papa chip</p></li>
                              <li><p>Gelatina</p></li>
                              <li><p>Jugo</p></li>
                            </ul>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed bg-secondary text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Entradas Adicionales
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                         <div class="accordion-body">
                            <ul>
                                <li><p>Vol au vent de atún o pollo</p></li>
                                <li><p>Melón con fresas a la miel</p></li>
                                <li><p>Macedoniod de fruta variada</p></li>
                                <li><p>Canapés de atún o pollo</p></li>
                            </ul>
                         </div>
                      </div>
                    </div>
                  </div>


            </div>

          </div>
          <div class="col-6" id="menus">
            <img src="/static/img/menu.jpeg" alt="" height="700">
          </div>
        </div>
      </div>





     </section>
        <section id="personalizacion_eventos">
            <div class="container">
                <div class="row">
                    <div class="col-6 mt-5">
                        <div id="cotiza">
                            <h1>PERSONALIZACIÓN DE EVENTOS</h1>
                            <P>Nuestro enfoque está en la personalización. Cuéntanos tus preferencias y necesidades y trabajaremos contigo para crear una cotización única para tu evento. Comienza a cotizar ahora.
                                Si necesitas información mas especifica no dudes en contactarnos. 
                            </P>
                            <a href="https://api.whatsapp.com/send?phone=573202929806&text=¡Hola%20Casa%20Berrio!%20Deseo%20mas%20información%2C%20me%20gustaría%20hablar%20de%20un%20evento%20que%20quiero%20cotizar.">
                                <button id="boton_contacto">¡Contactanos!</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 mt-5" id="carouseleventos">
                        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-ride="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/static/img/15años.png" class="d-block w-100" data-bs-interval="6000" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/bautizos.png" class="d-block w-100" data-bs-interval="6000" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/cumpleaños.png" class="d-block w-100" data-bs-interval="6000" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/despedidas.png" class="d-block w-100" data-bs-interval="6000" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/grados.png" class="d-block w-100" data-bs-interval="6000" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="/static/img/matrimonios.png" class="d-block w-100" data-bs-interval="6000" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </section>
    </main>
    <footer class="text-center text-lg-start" style="background: linear-gradient(90deg,rgba(57,140,198,1), rgb(57, 198, 111))">
      <!-- Section: Links  -->
      <section class="">
          <br>
          <div class="container text-center text-md-start mt-5">
              <!-- Grid row -->
              <div class="row mt-3">
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                      <!-- Content -->
                      <h4 class="text-uppercase fw-bold mb-4">
                          <i class="fas fa-gem me-3"></i>Casa Berrio
                      </h4>
                      <p><h5>
                          Aquí podrás encontrar todas nuestras redes sociales,
                          así como nuestras ubicaciones de los diferentes eventos.</h5>
                      </p>
                  </div>
                  <!-- Grid column -->
  
                  <!-- Grid column -->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                      <!-- Links -->
                      <h4 class="text-uppercase fw-bold mb-4">
                          ENLACES ÚTILES
                      </h4>
                      <p><h5>
                          <a href="reservas.html" class="text-reset">Reservas</a></h5>
                      </p>
                      <p><h5>
                          <a href="alquiler.html" class="text-reset">Alquileres</a></h5>
                      </p>
                      <p><h5>
                          <a href="nosotros.html" class="text-reset">Nosotros</a></h5>
                      </p>
                      <p><h5>
                          <a href="pqrs.html" class="text-reset">Ayuda</a></h5>
                      </p>
                  </div>
  
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                      <h4 class="text-uppercase fw-bold mb-4">Contactos</h4>
                      <p><h5><i class="fas fa-home me-3"></i>  Bogotá, Colombia</p></h5>
                      <p>
                      <h5><i class="fas fa-envelope me-3"></i>
                          casaberrio@gmail.com</h5>
                      </p>
                      <p><h5><i class="fas fa-phone me-3"></i> + 01 234 567 88</p></h5>
                      <p><h5><i class="fas fa-print me-3"></i> + 01 234 567 89</p></h5>
                      
                      <p><i class="fas fa-phone me-3"><a id="whatsapp" href="https://api.whatsapp.com/send?phone=573202929806&text=%C2%A1Hola%20Casa%20Berrio!%20Deseo%20mas%20informaci%C3%B3n%2C%20me%20gustar%C3%ADa%20hablar%20de%20un%20evento%20que%20quiero%20cotizar."><img src="/static/img/whatsapp.png" alt="whatsapp" height="35px">whatsapp</a>
                      </p>
                      <a href="https://es-la.facebook.com/EventosCasaBerrio/"><img src="/static/img/Facebook.png" alt="facebook" style="height: 30px;"></a>
                  <a href="https://www.instagram.com/salonescasaberrio/?igshid=YmMyMTA2M2Y%3D"><img src="/static/img/instagram.png" alt="instagram"  style="height: 30px;"></a>
              </div>
                  </div>
      </section>
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          <!-- Right -->
          © 2023 Copyright: Gaes 4 SENA
      </div>
  </footer>
</body>
</html>